*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: grid;
    place-items: center;
}


h1{
    animation: move 5s infinite ease-in-out; 
}

 @keyframes move{
/*    from{
        transform: translateX(0px);
        color: red;
    }

    to{
        transform: translateX(400px);
        color: blue;
    } */

    0%{
        color: black;
        transform: translate(0);
    }

    25%{
        color: red;
        transform: translateX(300px);
    }

    50%{
        color: blue;
        transform: translateX(0px);
    }

    75%{
        color: aqua;
        transform: translateY(-300px);
    }

    100%{
        color: black;
        transform: translateY(0);
    }
}